{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat.</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/customfonts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    
</head>
<body>
    <h2>Chat</h2>
    <input type="text" id="messageInput" placeholder="Escreve uma mensagem...">
    <button onclick="sendMessage()">Enviar</button>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card p-4 shadow">
                    <h2 class="jomhuria-regular fs-1">Conversas.</h2>
                </div>
            </div>
            <div class="col-8">
                <div class="card p-4 shadow">
                    <h2 class="jomhuria-regular fs-1">Conversa.</h2>
                    <ul id="messagesList"></ul>
                </div>
        </div>

    </div>

    <script>
        const username = "{{ request.user.username }}";
        const otherUser = "{{ other_username }}";
        const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + otherUser + "/");
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector("#messagesList").innerHTML += `<li><strong>${data.username}:</strong> ${data.message}</li>`;
        };
    
        function sendMessage() {
            const messageInput = document.querySelector("#messageInput");
            const message = messageInput.value;
            chatSocket.send(JSON.stringify({"username": username, "message": message}));
            messageInput.value = "";
        }
    </script>
</body>
</html>