{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PDI{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/customfonts.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
</head>
<body style="background-color: #EAEAEA; overflow-x: hidden;">
    {% include 'navbar.html' %}

    {% block content %}{% endblock %}

    {% if user.is_authenticated %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container" style="z-index: 9999;"></div>
    
    <script>
    function showToast(message, type = "info") {
        const toastId = "toast" + Date.now();
        const toastHtml = `
        <div id="${toastId}" class="toast fade border border-1 border-dark-subtle shadow" role="alert" aria-live="assertive" aria-atomic="true"
            style="background-color: #f2f2f2; color: black; font-family: 'Jomhuria', sans-serif; font-size: 1.5rem; min-width: 280px; line-height: 1">
            <div class="d-flex">
                <div class="toast-body">
                    ${message}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
            </div>
        </div>`;
        const container = document.getElementById("toast-container");
        container.insertAdjacentHTML("beforeend", toastHtml);
        const toast = new bootstrap.Toast(document.getElementById(toastId));
        toast.show();
    }
    
    const notificationSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/notificacoes/'
    );
    
    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
    
        if (data.type === "nova_mensagem") {
            const preview = data.message.length > 50 ? data.message.substring(0, 50) + "..." : data.message;
            const link = "/chat/" + data.conversation_id + "/";
            showToast(`Nova mensagem de <strong>${data.sender}</strong>: "${preview}"<br><a href='${link}' style="line-height:1;-color: black;" class='btn border fs-3 btn-sm btn-light mt-2'>Abrir chat</a>`, "info");
        }
    };
    </script>
    {% endif %}
    

    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>