{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/customfonts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    
</head>
<body style="background-color: #EAEAEA;">

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Imagem principal -->
    <div class="container-fluid p-0 rounded" style="background-color: transparent;">
        <img class="object-fit-contain" src="{% static 'imgs/cover2.png' %}" style="width: 100%; height: 100%;" alt="">

        <div class="input-group mt-3" style="position: absolute; bottom: 80%; left: 10%; width: 75%;">
            <input type="text" id="searchInput" class="form-control rounded-start-pill border-end-0 border-black" placeholder="Pesquisa" aria-label="Pesquisa" onkeyup="filterProducts()">
            <button class="btn rounded-end-pill border-black border-start-0" type="button" style="background-color: white; height: 55px;">
                <img src="{% static 'imgs/icons/iconpesquisa.svg' %}" style="margin-bottom: 3px;" alt="">
            </button>
        </div>
    </div>

    <div class="container">
 
    </div>

    <div class="container mt-5">

        <div class="row gy-4 mb-5" id="productList">
            {% for produto in produtos %}
            <div class="col-md-4 product-item">
                <div class="card rounded-2" style="width: 100%;height:400px; background-color: white;">
                    <div class="p-0" style="width: 100%; height: 250px; background-color: white;">
                        {% with produto.images.all|first as image %}
                            {% if image %}
                                <img src="{{ image.image.url }}" class="img-fluid" style="width: 100%; height: 250px; object-fit:cover;" alt="{{ produto.nome }}">
                            {% else %}
                                <img src="{% static 'imgs/default-product.jpg' %}" class="img-fluid" style="width: 100%; height: 100%; object-fit:cover;" alt="Sem imagem">
                            {% endif %}
                        {% endwith %}
                    </div>
            
                    <div class="card-body">
                        <h5 class="card-title jomhuria-regular fs-1">{{ produto.nome }}</h5>
                        <p class="card-text jomhuria-regular fs-2" style="line-height: 0;"><strong>Preço:</strong> €{{ produto.preco }}</p>
                        <p class="text-muted mt-5 jomhuria-regular fs-3">Adicionado por: <strong>{{ produto.user.primeiro_nome }} {{ produto.user.ultimo_nome }}</strong></p>

                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    <h1 class="text-center mt-5 mb-5 jomhuria-regular fs-custom3" style="color: rgba(150, 150, 150, 0.425);">Chegou ao fim...</h1>

    <!-- Footer -->
    {% include 'footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function filterProducts() {
            const input = document.getElementById('searchInput');
            const filter = input.value.toLowerCase();
            const productList = document.getElementById('productList');
            const products = productList.getElementsByClassName('product-item');

            for (let i = 0; i < products.length; i++) {
                const title = products[i].getElementsByClassName('card-title')[0].textContent;
                if (title.toLowerCase().indexOf(filter) > -1) {
                    products[i].style.display = "";
                } else {
                    products[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
