{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <style>
    .hero-container {
        width: 100%;
        aspect-ratio: 21 / 7;
        overflow: hidden;
        position: relative;
    }
    
    .hero-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    </style>
    
    <div class="hero-container container-fluid p-0 rounded" style="background-color: transparent;">
        <img src="{% static cover_image %}" alt="">
    
        <div class="input-group mt-3" style="position: absolute; top:20%; left: 10%; width: 75%;">
            <input type="text" id="searchInput" class="form-control rounded-start-pill border-end-0 border-black" placeholder="Pesquisa" aria-label="Pesquisa" onkeyup="filterProducts()">
            <button class="btn rounded-end-pill border-black border-start-0" type="button" style="background-color: white; height: 55px;">
                <img src="{% static 'imgs/icons/iconpesquisa.svg' %}" style="margin-bottom: 3px;" alt="">
            </button>
        </div>
    </div>
    

{% include 'categorias.html' %}



{% include 'toast.html' %}
<div class="container-fluid p-5">
    <div class="row gy-4 mb-5" id="productList">
        {% for produto in produtos %}
            {% if forloop.counter0 == 8 %}
                <!-- Banner único após 8 produtos -->
                <div class="col-12 rounded-3 position-relative mt-5" style="height: 300px;">
                    <img src="{% static 'imgs/banner.jpg' %}" class="rounded-3 w-100 h-100" style="object-fit: cover;" alt="Banner">
                    <div class="ms-5 jomhuria-regular fs-1 rounded-3" style="position: absolute; top: 8%; color: black; background-color: #cac33ff1;">
                        <p class="ms-2 me-2 mt-3" style="line-height: 0.75;">Dá uma nova vida aos teus artigos usados!</p>
                    </div>
                    <div class="ms-5" style="position: absolute; top: 70%;">
                        <a href="/upload-product/" class="btn btn-lg shadowm jomhuria-regular fs-2" style="background-color: white; line-height: 1;">
                            Começar a vender.
                        </a>
                    </div>
                </div>
                
            {% endif %}

            <div class="col-xl-3 col-md-4 col-sm-6 product-item">
                <div class="card shadow rounded-2" style="width: 100%;height:470px; background-color: white;">
                    <div class="p-0" style="width: 100%; height: 250px; background-color: white;">
                        {% with produto.images.all|first as image %}
                            {% if image %}
                                <a href="{% url 'produto_detail' produto.id %}">
                                    <img src="{{ image.image.url }}" class="img-fluid" style="width: 100%; height: 250px; object-fit:cover;" alt="{{ produto.nome }}">
                                </a>
                            {% else %}
                                <img src="{% static 'imgs/default-product.jpg' %}" class="img-fluid" style="width: 100%; height: 100%; object-fit:cover;" alt="Sem imagem">
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div class="card-body" style="overflow: hidden;">
                        <a href="{% url 'produto_detail' produto.id %}" class="h5 card-title jomhuria-regular fs-1" style="text-decoration: none; line-height: 0;">{{ produto.nome }}</a>
                        <p class="card-text jomhuria-regular fs-2" style="line-height: 1;"><strong>Preço:</strong> €{{ produto.preco }}</p>
                        {% if produto.tipo_venda == "leilao" %}
                        <p class="card-text jomhuria-regular fs-2" style="line-height: 0;"> Licitação atual: €{{ produto.maior_licitacao }}</p>
                        {% endif %}
                        <p class="text-muted mt-5 jomhuria-regular fs-3" style="line-height: 1;">Adicionado por: <strong>{{ produto.user.primeiro_nome }} {{ produto.user.ultimo_nome }}</strong></p>
                        {% if produto.user.cidade %}
                            <p class="text-muted jomhuria-regular fs-3" style="line-height: 0;">{{ produto.user.get_cidade_display }}</p>
                        {% else %}
                            <p class="text-muted jomhuria-regular fs-3" style="line-height: 0;"></p>
                        {% endif %}
                                   
                    </div>
                </div>
            </div>
        {% endfor %}

        
    </div>
</div>
<h1 class="text-center mt-5 mb-5 jomhuria-regular fs-custom3" style="color: rgba(150, 150, 150, 0.425);">Chegou ao fim...</h1>

<script>
    function filterProducts() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const productList = document.getElementById('productList');
        const products = productList.getElementsByClassName('product-item');

        for (let i = 0; i < products.length; i++) {
            const title = products[i].getElementsByClassName('card-title')[0].textContent;
            if (title.toLowerCase().indexOf(filter) > -1) {
                products[i].style.display = "";
            } else {
                products[i].style.display = "none";
            }
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagens = [
        {% for i in graphics %}
            "{% static 'imgs/graphics/graphic' %}{{ i }}.png"{% if not forloop.last %},{% endif %}
        {% endfor %}
        ];

    
      const NUM_ELEMENTOS = 10;
      const fundo = document.createElement("div");
      fundo.style.position = "absolute";
      fundo.style.top = 0;
      fundo.style.left = 0;
      fundo.style.width = "100%";
      fundo.style.height = "100vh";
      fundo.style.zIndex = "-1";
      fundo.style.pointerEvents = "none";
      document.body.appendChild(fundo);
    
      for (let i = 0; i < NUM_ELEMENTOS; i++) {
        const img = document.createElement("img");
        img.src = imagens[Math.floor(Math.random() * imagens.length)];
        const size = Math.floor(Math.random() * 100) + 150;
        img.style.opacity = "50%" ;
        img.style.width = `${size}px`;
        img.style.height = "auto";
        img.style.position = "absolute";
        img.style.top = `${Math.random() * document.body.scrollHeight}px`;
        const maxLeft = window.innerWidth - size;
        img.style.left = `${Math.random() * maxLeft}px`;
        fundo.appendChild(img);
      }
    });
    </script>
    
    
{% endblock %}