{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<nav class="navbar navbar-expand navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'imgs/logo_white.svg' %}" style="width:69px;" alt="Logo">
        </a>
        <div class="" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <!--User com login-->
                <li class="nav-item">
                    <a class="nav-link mt-2 me-3 notifbutton" href="#"> <img src="" alt=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mt-2 me-3 chatbutton" href="{% url 'chat_list' %}"> <img src="" alt=""></a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link buttonvender border border-2 rounded-5 mt-1 jomhuria-regular fs-2" style="line-height: 0.75;" href="{% url 'upload_product' %}"> <p style="height: 8px; margin-top: 5px;"><strong>Vender.</strong></p></a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="{% url 'user' request.user.id %}">
                        {% if request.user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="Foto de Perfil" style="width: 40px; height: 40px; border-radius: 50%; background-color: white;">
                        {% else %}
                            <img src="{% static 'imgs/icons/iconperson.svg' %}" style="width: 20px; height: 20px;" alt="">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-3 text-danger" href="{% url 'logout' %}"><img src="{% static 'imgs/icons/logout.svg' %}" style="width: 40px; height: 40px;"alt=""></a>
                </li>

                
                {% else %}
                <!-- Sem login  -->
                <li class="nav-item me-3">
                    <a class="nav-link btn rounded-5" href="{% url 'login' %}" style="background-color: white; color: black;"><strong>Login.</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup_email' %}"><strong>Registar.</strong></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
