{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<nav class="navbar navbar-expand navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'imgs/logo_white.svg' %}" style="width:69px;" alt="Logo">
        </a>
        <div class="" id="navbarNav">
            <ul class="navbar-nav ms-auto me-5">
                {% if request.session.user_id %}
                <!--User com login-->
                <li class="nav-item me-5">
                    <a class="nav-link buttonvender rounded-5" href="{% url 'upload_product' %}"> <strong>Vender</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user' %}"><img src="{% static 'imgs/icons/iconperson.svg' %}" style="width: 20px; height: 20px;" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'logout' %}"><img src="{% static 'imgs/icons/logout.svg' %}" style="width: 25px; height: 25px;"alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat' %}"> <img src="{% static 'imgs/icons/enviar_branco.svg' %}" height="20px" width="20px" alt=""></a>
                </li>
                
                {% else %}
                <!-- Sem login  -->
                <li class="nav-item me-3">
                    <a class="nav-link btn rounded-5" href="{% url 'login' %}" style="background-color: white; color: black;"><strong>Login.</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"><strong>Registar</strong></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
