{% extends 'base.html' %}
{% load static %}
{% block title %}Página de {{ user.primeiro_nome}}{% endblock %}
{% block content %}
  <div class="row ms-5 mt-5 me-5">
    <div class="col-2 d-none d-lg-block">
      
    </div>

    <!--Vísivel para o proprio-->

    
    <div class="col">
      {% if is_owner %}
      <p class="jomhuria-regular fs-custom" style="line-height: 1;">Bem-vindo ao seu perfil, {{ user.primeiro_nome }}!</p>
      <div class="row rounded-top" style="background-color: white;">
        <div class="col-10 ms-4">
          <p class="jomhuria-regular fs-2" style="line-height: 1;">{{ user.email }}</p>
          <p class="jomhuria-regular fs-3" style="line-height: 1;">{{ user.get_cidade_display }}</p>
          <div class="div rounded mb-4" style="background-color: #D9D9D9; height: 127px;">
            <p class="ms-2" style="line-height: 2;"><strong>{{ user.biografia }} </strong></p>
          </div>
        </div>

        <div class="col mt-4 text-center">
          <div>
            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'imgs/icons/account_circle.svg' %}{% endif %}" alt="Foto de Perfil" style="width: 85px; height: 85px; border-radius: 50%;">
          </div>
          <br>
            <style>
              .custom-file-label {
                  background-color: #D9D9D9;
                  cursor: pointer;
                  display: inline-block;
              }
          
              input[type="file"] {
                  display: none;
              }
          </style>
        
          <label for="profile_picture" style="border-color: black; line-height: 1;" class="custom-file-label rounded-pill jomhuria-regular border fs-4">Alterar Imagem de Perfil</label>
     <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <input type="file" name="profile_picture" id="profile_picture">
        </div>
      </div>
        <div class="row rounded-bottom mb-5" style="background-color: white;">
          {% if messages %}
          <div class="container mt-4">
            {% for message in messages %}
              <div class="alert 
                {% if message.tags %}
                  alert-{{ message.tags }}
                {% else %}
                  alert-info
                {% endif %}
                alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}

          <p class="jomhuria-regular fs-1 mt-4" style="line-height: 1;">Editar Perfil</p>
          <div class="col-4 ms-4 mt-2" style="line-height: 1;">
          </div>
          <div class="row">
            <div class="col">
              <p class="jomhuria-regular fs-2 ">Nome: </p>
            </div>
            <div class="col">
              <input type="text" class="form-control rounded-4 mt-1" name="primeiro_nome" value="{{ user.primeiro_nome }}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="jomhuria-regular fs-2 ">Apelido: </p>
            </div>
            <div class="col">
              <input type="text" class="form-control rounded-4 mt-1" name="ultimo_nome" value="{{ user.ultimo_nome }}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="jomhuria-regular fs-2 ">Biografia: </p>
            </div>
            <div class="col">
              <textarea class="form-control rounded-4 mt-1" style="height: 80px;" name="biografia">{{ user.biografia }}</textarea>
            </div>
          </div>
          <div class="row"> <!--Email-->
            <div class="col">
              <p class="jomhuria-regular fs-2">Email: </p>
            </div>
            <div class="col">
              <input type="email" class="form-control rounded-4 mt-1" name="email" value="{{ user.email }}">
            </div>
          </div> <!--Email-->
          <div class="row"> <!--Telemovel-->
            <div class="col">
              <p class="jomhuria-regular fs-2">Telemóvel: </p>
            </div>
            <div class="col">
              <input type="text" class="form-control rounded-4 mt-1" name="telemovel" value="{{ user.telemovel }}">
            </div>
          </div> <!--Telemovel-->
          <!--Informação adicional-->
          <p class="jomhuria-regular fs-1 mt-4" style="line-height: 1;">Localização</p>
          <div class="row"> <!--Cidade-->
            <div class="col">
              <p class="jomhuria-regular fs-2">Cidade: </p>
            </div>
            <div class="col">
              <select class="form-select jomhuria-regular fs-3" id="cidade" name="cidade" required>
                <option selected disabled>Selecione uma Cidade</option>
                {% for value, label in cidades %}
                <option value="{{ value }}" {% if user.cidade == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
            </div>
          </div> <!--Cidade-->

            <button type="submit" onclick="setTimeout(() => location.reload(), 100);" class="rounded-bottom-3 border-0 p-2 jomhuria-regular fs-1" style="background-color: black; color: white; line-height: 1;">
              Atualizar
            </button>
            {% else %}
            <div class="row">
              <div class="col">
                <p class="jomhuria-regular fs-custom" style="line-height: 1;">Bem-vindo ao perfil de {{ perfil.primeiro_nome }}!</p>
              </div>
              <div class="col-4 mb-3">
                <div>
                  <img src="{% if perfil.profile_picture %}{{ perfil.profile_picture.url }}{% else %}{% static 'imgs/icons/account_circle.svg' %}{% endif %}" alt="Foto de Perfil" style="width: 85px; height: 85px; border-radius: 50%;">
                </div>
              </div>
            </div>
            
            <div class="row rounded mb-5" style="background-color: white;">
              <div class="col-10 ms-4">
                <p class="jomhuria-regular fs-2" style="line-height: 1;">{{ perfil.email }}</p>
                <p class="jomhuria-regular fs-3" style="line-height: 1;">{{ perfil.get_cidade_display }}</p>
                <div class="div rounded mb-4" style="background-color: #D9D9D9; height: 127px;">
                  <p class="ms-2" style="line-height: 2;"><strong>{{ perfil.biografia }} </strong></p>
                </div>
              </div>
          {% endif %}
          <div class="container-fluid p-5">
            <h2 class="jomhuria-regular mb-4">Produtos de {{ perfil.primeiro_nome }}</h2>
            <div class="row gy-4 mb-5" id="productList">
                {% for produto in produtos %}
                <div class="col-xl-4 col-sm-6 product-item">
                    <div class="card shadow rounded-2" style="width: 100%;height:470px; background-color: white;">
                        <div class="p-0" style="width: 100%; height: 250px; background-color: white;">
                            {% with produto.images.all|first as image %}
                                {% if image %}
                                <a href="{% url 'produto_detail' produto.id %}">
                                    <img src="{{ image.image.url }}" class="img-fluid" style="width: 100%; height: 250px; object-fit:cover;" alt="{{ produto.nome }}">
                                {% else %}
                                    <img src="{% static 'imgs/default-product.jpg' %}" class="img-fluid" style="width: 100%; height: 250px; object-fit:cover;" alt="Sem imagem">
                                {% endif %}
                                </a>
                            {% endwith %}
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title jomhuria-regular fs-2">{{ produto.nome }}</h5>
                            <p class="card-text fs-5">{{ produto.preco }}€</p>
                            <a href="{% url 'produto_detail' produto.id %}" class="btn btn-dark rounded-pill px-4">Ver Produto</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">{{ perfil.primeiro_nome }} ainda não publicou produtos.</p>
                {% endfor %}
            </div>
        </div>
        

        </div>
      </form>
    </div>
    <div class="col-2 d-none d-lg-block"></div>
  </div>
  {% endblock%}